<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCiuoWQGb30zZDd8RNLUl5Iar4oZ6lwLkY</string>
	<key>GCM_SENDER_ID</key>
	<string>505000605506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.musicalapp</string>
	<key>PROJECT_ID</key>
	<string>musicalapp-96621</string>
	<key>STORAGE_BUCKET</key>
	<string>musicalapp-96621.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505000605506:ios:54e5e9a3eb372d3235badb</string>
</dict>
</plist>